<p id="notice"><%= notice %></p>

<h1>Drums</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drums.each do |drum| %>
      <tr>
        <td><%= link_to 'Show', drum %></td>
        <td><%= link_to 'Edit', edit_drum_path(drum) %></td>
        <td><%= link_to 'Destroy', drum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drum', new_drum_path %>
